<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}" />
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="{{ url_for('static', filename='js/axios.js') }}"></script>

</head>

<body>
    <h1>Dashboard</h1>
    <div id="map"></div>
    <div>
        <button id="refresh">Refresh</button>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>